<section id="space">
  <header>
    <h2>{{this.model.name}}</h2>
    <p class="text-neutral-400">{{this.model.server.hostname}}</p>
  </header>
  <div class="content">
    <p>
      <WebPushSubscription @botkaURL={{this.model.botkaURL}} @username={{this.model.userNickname}} />
    </p>
  </div>
</section>
