$color-cyan: #00ffff;
$color-magenta: #ff00ff;
$color-yellow: #ffff00;

$background-color-cyan: rgba($color-cyan, 0.2);
$background-color-magenta: rgba($color-magenta, 0.2);
$background-color-yellow: rgba($color-yellow, 0.2);
