@mixin app-column() {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(column);
  @include justify-content(flex-start);

  header {
    @include flex(0 0 $headerHeight);
    position: relative;
  }
  .main {
    @include flex(1);
  }
  footer {
    @include flex(0 0 $headerHeight);
    position: relative;
  }
}

.app-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);
}

#global {
  @include flex(0 0 $sidebarWidth);
  @include app-column;

  header {
    &#sitename {
      padding: 0 1em;
      h1 {
        height: $headerHeight;
        line-height: $headerHeight;
        text-transform: uppercase;
      }
    }
  }
}

div#channel {
  @include flex(1);

  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);

  main {
    @include flex(1);
    @include app-column;
  }

  aside {
    @include flex(0 0 $sidebarWidth);
    @include app-column;
  }
}

header {
//   #topbar {
//     @include flex(1);
//     position: relative;
//   }
  nav {
    position: absolute;
    top: 0;
    right: 0;
    a {
      display: inline-block;
      @include size($headerHeight);
      text-align: center;
      line-height: $headerHeight;
      text-decoration: none;
      &:hover {
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
}
