.app-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(column);
  @include justify-content(flex-start);
}

header {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);
  #sitename {
    @include flex(0 0 $sidebarWidth);
    background-color: rgba(255,255,0,0.2);
  }
  #topbar {
    @include flex(1);
    position: relative;
    background-color: rgba(255,0,255,0.2);
  }
  #topbar-right {
    @include flex(0 0 $sidebarWidth);
    nav {
      a {
        background-color: rgba(255,255,0,0.2);
        &.active {
          background-color: rgba(0,255,255,0.2);
        }
        &:hover {
          background-color: rgba(255,255,255,0.3);
        }
      }
    }
  }
  nav {
    position: absolute;
    top: 0;
    right: 0;
    a {
      display: inline-block;
      @include size($headerHeight);
      text-align: center;
      line-height: $headerHeight;
      text-decoration: none;
      &:hover {
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
}

main {
  @include flex(1);

  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);

  nav#channels {
    @include flex(0 0 $sidebarWidth);
    background-color: rgba(0,255,255,0.2);
  }

  section#content {
    @include flex(1);

    @include display(flex);
    @include align-items(stretch);
    @include flex-direction(column);
    @include justify-content(flex-start);

    section#channel-content {
      @include flex(1);
    }

    footer {
      @include flex(0 0 $headerHeight);
      background-color: rgba(255,255,255,0.2);
    }
  }

  > aside {
    @include flex(0 0 $sidebarWidth);
    background-color: rgba(0,255,255,0.2);
  }
}

