:root {
  --hc-modal-animation-in-duration: 0.15s;
  --hc-modal-backdrop-background: #2d37488c;
}

.hc-modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--hc-modal-backdrop-background);
  @apply z-30;
}

.hc-modal-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12vh;
  pointer-events: none;
  @apply z-40;
}

.hc-modal {
  pointer-events: auto;
  animation: hc-modal-in var(--hc-modal-animation-in-duration) ease-out;
  @apply z-50 my-0 mx-auto rounded-md
         bg-white text-neutral-800 shadow-2xl;
}

@keyframes hc-modal-in {
  0% {
    transform: translate(0, -10vh) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}
