section#settings {

  background-color: rgba(0,0,0,0.6);
  text-align: center;
  padding-top: $headerHeight;
  padding-bottom: 1.5rem;

  h2 {
    display: inline-block;
    font-size: 2rem;
    color: #add8e6;
  }

}
