section#space {

  background-color: #fff;
  color: #333;
  padding: $headerHeight 3rem 1.5rem;

  p {
    margin-bottom: 1em;
  }

  header {
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

}
