@import "bourbon";

$headerHeight: 42px;
$sidebarWidth: 168px;

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

*:hover, *:active, *:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  color: #fff;

  background-image: url('/img/bg.jpg');
  background-repeat: none;
  background-size: cover;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: 1em;
}

a {
  color: #fff;
  text-decoration: none;
}

input, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

header {
  #sitename {
    padding: 0 1em;
    h1 {
      height: $headerHeight;
      line-height: $headerHeight;
      text-transform: uppercase;
    }
  }
  #topbar {
    padding: 0 1em;
    h2#channel-name {
      display: inline;
      height: $headerHeight;
      line-height: $headerHeight;
      margin-right: 1em;
    } 
    p#channel-title {
      display: inline;
      font-style: italic;
    }
  }
}

nav#channels {
  padding: 1.5em 0;
  a {
    display: block;
    padding: 0 1em;
    height: 1.6em;
    line-height: 1.6em;
    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
  }
  > ul {
    list-style: none;
    > li {
      margin-bottom: 1.6em;
      > ul {
        padding: 0.6em 0 0 0;
        list-style: none;
      }
    }
  }
}

section#user-list {
  padding: 1.5em 0;

  > ul {
    list-style: none;
    li {
      a {
        display: block;
        padding: 0 1em;
        height: 1.6em;
        line-height: 1.6em;
        &:hover {
          background-color: rgba(255,255,255,0.2);
        }
      }
    }
  }
}

section#content {
  #channel-content {
    padding: 1.5em 1em;
    ul {
      list-style: none;
      li {
        line-height: 2em;
        .chat-message {
          .username {
            margin-right: 0.2em;
            height: 2em;
            line-height: 2em;
            font-weight: bold;
            padding-left: 21px;
            &::after {
              content: ':';
            }
            &[data-username=raucao] {
              background: url(/img/avatar-sk.png) 0 2px no-repeat;
            }
            &[data-username=silverbucket] {
              background: url(/img/avatar-sb.png) 0 2px no-repeat;
            }
          }
        }
      }
    }
  }

  section#new-message {
    padding: 0 14px;
    color: #fff;
    border-radius: 3px;
    input[name=chat-message] {
      width: 100%;
      background: none;
      border: none;
      height: $headerHeight;
      line-height: $headerHeight;
      color: #fff;
    }
  }
}

@import "layout";
@import "iconfont";
