@import "bourbon";
@import "colors";
@import "vendor/include_media";

$modular-scale-ratio: $golden;
$headerHeight: 42px;
$sidebarWidth: 168px;
$breakpoints: (desktop: 900px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover, *:active, *:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  color: #fff;
  background-image: url('/img/bg.jpg');
  background-repeat: none;

  @include media(">desktop") {
    background-size: cover;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

input, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

header {
  &#sitename {
    background-color: $background-color-yellow;
  }

  a {
    text-decoration: underline;
  }
}

#global {
  .main {
    background-color: $background-color-cyan;
  }

  footer {
    background-color: $background-color-cyan;
  }
}

.no-messages {
  margin-top: 10px;
}

.discreet {
  color: #aaa;
}

@import "layout";
@import "buttons";
@import "components/channel-nav";
@import "components/channel-container";
@import "components/date-headline";
@import "components/message-chat";
@import "components/message-input";
@import "components/modal-target";
@import "components/notification-topic-change";
@import "components/user-list";
@import "settings";
@import "space";
