@import "bourbon";

$headerHeight: 42px;
$sidebarWidth: 160px;

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

*:hover, *:active, *:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Open Sans';
  font-size: 14px;

  color: #fff;

  background-image: url('/img/bg.jpg');
  background-repeat: none;
  background-size: cover;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: 1em;
}

a {
  color: #fff;
}

header {
  #sitename {
    padding: 0 1em;
    h1 {
      height: $headerHeight;
      line-height: $headerHeight;
      text-transform: uppercase;
    }
  }
  #topbar {
    padding: 0 1em;
    h2#channel-name {
      display: inline;
      height: $headerHeight;
      line-height: $headerHeight;
      margin-right: 1em;
    } 
    p#channel-title {
      display: inline;
      font-style: italic;
    }
  }
}

nav#channels {
  padding: 1.5em 1em;
  > ul {
    list-style: none;
    > li {
      margin-bottom: 2em;
      > ul {
        padding: 0.5em 0 0 0;
        list-style: none;
        li {
          height: 1.5em;
          line-height: 1.5em;
        }
      }
    }
  }
}

section#user-list {
  padding: 1.5em 1em;
  > ul {
    list-style: none;
    padding: 0.5em 0 0 0;
    li {
      height: 1.5em;
      line-height: 1.5em;
    }
  }
}

section#content {
  #channel-content {
    padding: 1.5em 1em;
    ul {
      list-style: none;
      li {
        line-height: 1.5em;
        .chat-message {
          .username {
            font-weight: bold;
            margin-right: 0.2em;
            &::after {
              content: ':';
            }
          }
        }
      }
    }
  }

  section#new-message {
    padding: 0 14px;
    color: #fff;
    border-radius: 3px;
    input[name=chat-message] {
      width: 100%;
      background: none;
      border: none;
      height: $headerHeight;
      line-height: $headerHeight;
      color: #fff;
    }
  }
}

@import "layout";
