<div class="flex bg-gray-800 text-white pl-6 pr-3 py-3 rounded-t-md">
  <h2 class="flex-grow">Accounts</h2>
  <button {{on "click" this.addAccount}}
    class="inline-block btn-sm btn-blue flex-none">
    Add
  </button>
</div>

<div class="w-full divide-y divide-gray-300">
  {{#each this.coms.accounts as |account|}}
    <div class="">
      <h3 class="px-6 py-5">{{account.id}}</h3>
    </div>
  {{/each}}
</div>