nav#channels {
  li {
    transition: opacity 0.2s linear;

    &.disconnected {
      opacity: 0.5;
      transition: opacity 0.2s linear;
    }
  }

  > ul {
    > li {
      > ul {
        li {
          &.unread-messages {
            a {
              color: lightblue;
            }
          }
          &.unread-mentions {
            a {
              color: yellow;
            }
          }
        }
      }
    }
  }
}
