.chat-message {

  word-break: break-word;

  // black
  .color-01 { color: #333; }
  // navy blue
  .color-02 { color: #3465A4; }
  // green
  .color-03 { color: #4E9A06; }
  // red
  .color-04 { color: #CC0000; }
  // brown
  .color-05 { color: #8F3902; }
  // purple
  .color-06 { color: #5C3566; }
  // olive
  .color-07 { color: #CE5C00; }
  // yellow
  .color-08 { color: #C4A000; }
  // lime
  .color-09 { color: #73D216; }
  // teal
  .color-10 { color: #11A879; }
  // aqua
  .color-11 { color: #58A19D; }
  // royal blue
  .color-12 { color: #57799E; }
  // hot pink
  .color-13 { color: #A04365; }
  // dark gray
  .color-14 { color: #666; }
  // light gray
  .color-15 { color: #888; }
  // white
  .color-16 { color: #333; }

  .bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }

  a {
    text-decoration: underline;
    color: #339;
  }

  img {
    &.from-image-url {
      padding-top: 0.25em;
      max-width: 500px;
      max-height: 300px;
    }
  }
}

@media screen and (max-width: 900px) {
  .chat-message {
    img {
      &.from-image-url {
        max-width: 100%;
        max-height: 250px;
      }
    }
  }
}
