section#new-message {
  input[name=chat-message] {
    color: #333;
    background: none;
    height: $headerHeight;
    line-height: $headerHeight;
    // Ember seems to add a hardcoded `cursor: pointer` to its text fields
    cursor: text !important;
  }
}
