.chat-message {
  // black
  .color-01 {
    color: #333;
  }
  // navy blue
  .color-02 {
    color: #3465a4;
  }
  // green
  .color-03 {
    color: #4e9a06;
  }
  // red
  .color-04 {
    color: #cc0000;
  }
  // brown
  .color-05 {
    color: #8f3902;
  }
  // purple
  .color-06 {
    color: #5c3566;
  }
  // olive
  .color-07 {
    color: #ce5c00;
  }
  // yellow
  .color-08 {
    color: #c4a000;
  }
  // lime
  .color-09 {
    color: #73d216;
  }
  // teal
  .color-10 {
    color: #11a879;
  }
  // aqua
  .color-11 {
    color: #58a19d;
  }
  // royal blue
  .color-12 {
    color: #57799e;
  }
  // hot pink
  .color-13 {
    color: #a04365;
  }
  // dark gray
  .color-14 {
    color: #666;
  }
  // light gray
  .color-15 {
    color: #888;
  }
  // white
  .color-16 {
    color: #333;
  }

  .bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }

  .msg-content {
    a {
      text-decoration: underline;
      color: #339;
    }
  }
}
