.modal-container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-background{
  z-index: 2;
  background-color: #000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-dialog {
  z-index: 12;
  margin: 0 auto;
  padding: 4em;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

