section#user-list {
  > ul {
    li {
      a {
        display: block;
        padding: 0 1rem;
        height: 1.6rem;
        line-height: 1.6em;
        overflow-wrap: unset;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          background-color: rgba(255,255,255,0.2);
        }
      }
    }
  }
}
