section#user-list {
  // TODO unify with other sidebar nav
  padding: 1.5em 0;

  > ul {
    list-style: none;

    li {
      a {
        display: block;
        padding: 0 1em;
        height: 1.6em;
        line-height: 1.6em;
        overflow-wrap: unset;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          background-color: rgba(255,255,255,0.2);
        }
      }
    }
  }
}
