<section id="channel-settings" class="main">
  <div class="header">
    <button type="button" class="back"
            {{on "click" (route-action "menu" "channel" "hide")}}>
      <IconArrowLeft />
    </button>
    <h2>Settings</h2>
  </div>

  <div class="item">setting</div>
  <div class="item">setting</div>
  <div class="item">setting</div>
</section>