<section id="channel-shared-items" class="main">
  <h2>Shared items</h2>

  <div class="item">item</div>
  <div class="item">item</div>
  <div class="item">item</div>
  <div class="item">item</div>
</section>