{{#from-elsewhere name="modal" as |modal|}}
  {{#liquid-bind modal containerless=true use=modalAnimation as |currentModal|}}
    {{#if currentModal}}
      <div class="modal-container">
        <div class="modal-background" onclick={{action "outsideClick" currentModal}} role="button"></div>
        <div class="modal-dialog">
          {{#if currentModal.body}}
            {{component currentModal.body}}
          {{else}}
            {{component currentModal}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/liquid-bind}}
{{/from-elsewhere}}

