<form {{on "submit" this.joinChannel}}>
  <label for="channel-name" class="hidden">Channel name</label>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-10 sm:gap-4 sm:items-center">
    <Input name="channel-name" @type="text" @value={{this.channelName}}
           aria-label="channel name" placeholder="channel"
           required class="sm:col-span-8" tabindex="1"/>
    <input type="submit" value="Join" aria-label="Join"
           class="sm:col-span-2 btn-md btn-blue" tabindex="2" />
  </div>
</form>