<div class="chat-message chat-me-message">
  <span class="username" data-username={{this.message.nickname}}>{{this.message.nickname}}</span>
  <span class="message">{{this.formattedContent}}</span>
</div>

