<div class="chat-message chat-me-message px-4">
  <span class="username mr-0 italic" data-username={{this.message.nickname}}>{{this.message.nickname}}</span>
  <span class="message italic">{{this.formattedContent}}</span>
</div>

