<section id="channel-shared-items" class="main py-6">
  <div class="header">
    <button type="button" class="back"
            {{on "click" (fn this.channel.menu "channel" "hide")}}>
      <IconArrowLeft />
    </button>
    <h2 class="px-4">Shared items</h2>
  </div>

  <div class="item">item</div>
  <div class="item">item</div>
  <div class="item">item</div>
  <div class="item">item</div>
</section>
