<ul>
  {{#each this.renderedUsers as |username|}}
    <li><LinkToUsername @username={{username}} /></li>
  {{/each}}

  <li class="last-element"></li>
  {{scrolling-observer rootElement=this.element
                       rootMargin="200px"
                       enabled=this.partialRenderingEnabled
                       onIntersect=(action "increaseRenderedUsersCount")}}
</ul>
