{{#each space in spaces}}
  <li>
    <h2>{{#link-to "space" space}}{{space.name}}{{/link-to}}</h2>
    <ul>
    {{#each channel in space.channels}}
      <li {{bind-attr class="connected:connected:disconnected"}}>{{#link-to "space.channel" space channel}}{{channel.name}}{{/link-to}}</li>
    {{/each}}
    </ul>
  </li>
{{/each}}
