<div class="max-w-3xl mx-auto mt-10 lg:mt-40 lg:mb-24 sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow sm:rounded-lg
              divide-y-4 divide-gray-200 divide-dotted">
    <div class="px-4 py-10 sm:p-10 text-gray-800">
      <h2 class="mb-10 text-center text-3xl font-light">
        Add a chat account
      </h2>
      <AddChatAccount />
    </div>
  </div>
</div>