{{#app-container showGlobalMenu=showGlobalMenu
                 showChannelMenu=showChannelMenu}}
  <div id="global">
    <header id="sitename">
      <h1>Kosmos</h1>
    </header>

    <div class="main">
      <nav id="channels">
        {{channel-nav spaces=spaces onLeaveChannel=(route-action 'leaveChannel')}}
      </nav>
    </div>
  </div>

  {{outlet}}
{{/app-container}}

{{modal-target}}
