<header>
  <section id="sitename">
    <h1>Subspace</h1>
  </section>
  <section id="topbar">
    <h2 id="channel-name">#bridge</h2>
    <p id="channel-title">Welcome to Prague! This is a dumb title.</h2>
    <nav>
      <a href="#"><i class="icon-megaphone"></i></a><a href="#"><i class="icon-mute"></i></a>
    </nav>
  </section>
  <section id="topbar-right">
    <nav>
      <a href="#" class="active"><i class="icon-users"></i></a><a href="#"><i class="icon-paperclip"></i></a><a href="#"><i class="icon-cog"></i></a><a href="#"><i class="icon-resize-enlarge"></i></a>
    </nav>
  </section>
</header>

<main>
  <nav id="channels">
    <ul>
      <li>
        <h2><a href="#">Enterprise</a></h2>
        <ul>
          <li><a href="#">#bridge</a></li>
          <li><a href="#">#10forward</a></li>
          <li><a href="#">#holodeck</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="#">Unhosted</a></h2>
        <ul>
          <li><a href="#">#unhosted</a></li>
          <li><a href="#">#remotestorage</a></li>
          <li><a href="#">#sockethub</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <section id="content">
    {{outlet}}
  </section>

  <aside>
    <section id="user-list">
      <ul>
        <li><a href="#">bkero</a></li>
        <li><a href="#">galfert</a></li>
        <li><a href="#">gregkare</a></li>
        <li><a href="#">janlelis</a></li>
        <li><a href="#">raucao</a></li>
        <li><a href="#">silverbucket</a></li>
      </ul>
    </section>
  </aside>
</main>
