<header>
  <section id="sitename">
    <h1>Kosmos</h1>
  </section>
  <section id="topbar">
    <h2 id="channel-name">#bridge</h2>
    <p id="channel-title">Welcome to Prague! This is a dumb title.</h2>
    <nav>
      <a href="#"><i class="icon-megaphone"></i></a><a href="#"><i class="icon-mute"></i></a>
    </nav>
  </section>
  <section id="topbar-right">
    <nav>
      {{#link-to 'index'}}<i class="icon-users"></i>{{/link-to}}<a href="#"><i class="icon-paperclip"></i></a>{{#link-to 'settings'}}<i class="icon-cog"></i>{{/link-to}}<a href="#"><i class="icon-resize-enlarge"></i></a>
    </nav>
  </section>
</header>

<main>
  <nav id="channels">
    <ul>
      {{#each space in spaces}}
        <li>
          <h2>{{link-to space.name}}</h2>
          {{channel-list channels=space.channels}}
        </li>
      {{/each}}
    </ul>
  </nav>

  {{outlet}}
</main>
