<section id="channel-content">
<ul>
  <li>
    <div class="chat-message">
      <span class="username" data-username="raucao">raucao</span>
      <span class="message">ohai from prague</span>
    </div>
  </li>
  <li>
    <div class="chat-message user-raucao">
      <span class="username" data-username="silverbucket">silverbucket</span>
      <span class="message">you're already here?!</span>
    </div>
  </li>
</ul>
</section>

<footer>
  <section id="new-message">
    <input type="text" placeholder="Type a message and hit enter" name="chat-message">
  </section>
</footer>
