<section id="content">
  <section id="channel-content">
  <ul>
    <li>
      <div class="chat-message">
        <span class="username" data-username="raucao">raucao</span>
        <span class="message">ohai from prague</span>
      </div>
    </li>
    <li>
      <div class="chat-message user-raucao">
        <span class="username" data-username="silverbucket">silverbucket</span>
        <span class="message">you're already here?!</span>
      </div>
    </li>
  </ul>
  </section>

  <footer>
    <section id="new-message">
      <form {{action "sendMessage" on="submit"}}>
        {{input value=chatMessage placeholder="Type a message and hit enter" name="chat-message"}}
      </form>
    </section>
  </footer>
</section>

<aside>
  <section id="user-list">
    <ul>
      <li><a href="#">bkero</a></li>
      <li><a href="#">galfert</a></li>
      <li><a href="#">gregkare</a></li>
      <li><a href="#">janlelis</a></li>
      <li><a href="#">raucao</a></li>
      <li><a href="#">silverbucket</a></li>
    </ul>
  </section>
</aside>
