<div class="max-w-3xl mx-auto mt-10 lg:mt-40 lg:mb-24 sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow sm:rounded-lg">
    <div class="px-4 py-10 sm:p-10 text-neutral-800">
      <h2 class="mb-10 text-center text-3xl font-light">Welcome!</h2>
      <p class="mb-4">
        You are looking at an early version of <a
          href="https://github.com/67P/hyperchannel/" class="text-neutral-500
          underline" target="_blank" rel="noopener noreferrer">Hyperchannel</a>,
        a group chat app that works with various chat networks and accounts.
      </p>
      <p class="mb-10">
        <strong>This is an unfinished alpha version, and not intended for end
          users yet!</strong> It will change often, and break sometimes.
        Developers, designers, and testers are invited to <a
          href="https://wiki.kosmos.org/Main_Page#Community_.2F_Getting_in_touch_.2F_Getting_involved"
          target="_blank" class="text-neutral-500 underline" rel="noopener noreferrer">
          join our open-source cooperative</a> and help with any aspect of the development process!
      </p>
      <div class="w-full grid grid-cols-1 gap-4 md:grid-cols-2">
        <LinkTo @route="add-account" class="btn-md btn-blue">Add a chat account</LinkTo>
        <button class="btn-md" disabled="disabled" type="button">Connect storage</button>
      </div>
    </div>
  </div>
</div>
